.imageChange {
    max-width: 50px;
    height: auto;
}
.table-bordered{
    font-size: 12px;
}
.title{
    font-weight: lighter;

}
.amount{
    font-weight: bold;
}
.font{
    width: 356px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}