.auction {
  padding: 50px 0;
  &__body {
    margin-top: 50px;
  }
  &__card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: block;
    text-decoration: none;
    color: #3f3424;
    margin-bottom: 20px;
    max-height: 340px;
    height: 100%;
    &:hover .title {
      color: var(--primary-color);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .image {
      max-width: 100%;
      height: 180px;
    }
    .body {
      padding: 15px;
      .title {
        font-size: 15px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        margin-bottom: 8px;
      }
      .content {
        display: flex;
        align-items: center;
        gap: 5px;
        .right {
          .starting-price,
          .price-step {
            display: flex;
            align-items: center;
            gap: 5px;
            span {
              font-size: 13px;
              font-weight: 400;
              white-space: nowrap;
            }
            p {
              margin: 0;
              font-size: 13px;
              font-weight: 600;
              white-space: nowrap;
            }
          }
        }
      }
      .left {
        width: 80px;
        height: 50px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
        }
      }
    }
  }
}

.detailAction {
  &__container {
    padding: 50px;
  }
  &__tab {
    padding: 0 20px 20px 20px;
  }
  &__head {
    border-bottom: 2px solid #000;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #000;
    }
    h2 {
      font-size: 23px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1.5;
      color: #000;
      width: 100%;
    }
  }
  &__body {
    margin-top: 20px;
    min-height: 400px;
    background: #fff;
    ul {
      li {
        button {
          font-size: 17px;
          font-weight: 600;
          color: var(--primary-color);
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
    .file {
      span {
        font-size: 16px;
        font-weight: 400;
        margin-right: 10px;
      }
    }
    .info {
      display: flex;
      gap: 20px;
      .image {
        flex: 0.4;
        overflow: hidden;
        img {
          width: 100%;
          height: 400px;

          object-fit: cover;
        }
      }
      .content {
        flex: 0.6;
        h2 {
          font-size: 16px;
          text-transform: uppercase;
          padding-bottom: 10px;
          border-bottom: 1px solid #ccc;
        }
        ul {
          padding: 0;
          li {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            span {
              font-weight: 700;
            }
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
  &__button {
    width: 100%;
    button {
      width: 100%;
      background: var(--primary-color);
      color: #fff;
      padding: 15px;
      border-radius: 5px;
      border: none;
      outline: none;
      &:hover {
        background: rgba($color: #cfa267, $alpha: 0.8);
      }
    }
  }
}

.custom-modal {
  .custom-title-modal {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
  }
  .custom-heading-modal {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .custom-form-group-modal {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    input {
      outline: none;
      &:focus {
        color: none;
        background-color: none;
        border-color: none;
        outline: 0;
        box-shadow: none;
      }
    }
  }
  .faceCheck {
    margin-bottom: 10px;
    p {
      color: red;
      font-size: 13px;
      font-weight: 600;
      font-style: italic;
      margin-top: 5px;
    }
  }
  .custom-form-label-modal {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    max-width: 150px;
    width: 100%;
  }
  .custom-form-group-modal-2 {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    p {
      font-weight: 600;
      margin: 0;
    }
  }
  .form-check {
    label {
      font-size: 15px;
      font-weight: 600;
      // font-style: italic;
    }
  }
}

.actionResults {
  padding: 50px 0;
  h2 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  table {
    thead {
      background: var(--primary-color);
      color: #fff;
      font-size: 17px;
      font-weight: 700;
    }
  }
}

//Auction room
.aur {
  &__container {
    padding: 50px 0;
  }
  .history {
    .title {
      display: flex;
      align-items: center;
      margin-top: 30px;
      h2 {
        width: 50%;
        text-align: center;
        background: blue;
        color: #fff;
        font-size: 17px;
        padding: 10px;
        border-right: 2px solid #000;
        &:last-child {
          border: none;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .content {
      table {
        thead {
          color: #000;
          font-weight: 600;
        }
      }
    }
  }
  &__title {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    h2 {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
      color: var(--primary-color);
      animation: chaychu 14s linear infinite;
    }
  }
  &__countdown {
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    .countdown-item {
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      .countdown-value {
        font-weight: 600;
      }

      .countdown-label {
        text-transform: uppercase;
      }
    }
  }
  .aur__bargain-section {
    flex: 0.4;
    .bargain-price {
      color: red;
    }
    button {
      display: inline-block;
      padding: 17px 30px;
      border: none;
      outline: none;
      margin-left: 20px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background: var(--primary-color);
      border-radius: 5px;
      color: #fff;
      font-size: 17px;
      font-weight: 600;
      text-transform: uppercase;
      &:hover {
        opacity: 0.7;
      }
    }
    .bargain-input-container {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      border: 1px solid #ccc;
      padding: 10px 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      input {
        border: none;
        outline: none;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      .bargain-sign {
        color: #ccc;
        cursor: pointer;
        font-size: 25px;
      }
    }
  }
  &__body {
    padding: 10px 0;
  }
  &__content {
    display: flex;
    gap: 20px;
    height: 500px;
  }
  &__left {
    flex: 0.5;
  }
  &__image {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__right {
    flex: 0.5;

    display: flex;
    flex-direction: column;
    .name {
      font-size: 20px;
      display: inline-block;
      font-weight: 700;
      color: var(--primary-color);
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;
      span {
        color: #3f3424;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;

      li {
        list-style: none;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5 {
          font-size: 17px;
        }
        span {
          color: var(--primary-color);
          font-size: 17px;
          font-weight: 600;
        }
      }
    }
    .priceMax {
      margin-top: auto;
      background: blue;
      color: #fff;
      padding: 15px;
      text-align: center;
      border-radius: 5px;
      font-weight: 600;
    }
  }
}

.custom-modal-dialog {
  max-width: 1140px !important;
  width: 100%;
}

.auctionDetailPopup {
  width: 100%;
}

@keyframes chaychu {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
