.pp {
  background: #f4f2f0;
  padding: 25px 0;
  &__button {
    margin-top: 10px;
    text-align: center;
    a {
      display: inline-block;
      text-decoration: none;
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      background: #f4f2f0;
      padding: 6px 12px;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 5px;
      &:hover {
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
      }
    }
  }
}
