.sidebar {
  .user {
    background: #fff;
    padding: 16px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    text-align: center;
    .avatar {
      padding-bottom: 16px;
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
        border: 1px solid #ccc;
      }
      label {
        position: relative;
        .loading__comp {
          background: rgba($color: #ccc, $alpha: 0.3);
          border-radius: 50%;
          position: absolute;
          width: 100% !important;
          height: 100% !important;

          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            width: 30px !important;
            height: 30px;
          }
        }
        i {
          position: absolute;
          right: 0;
          bottom: 0;
          font-size: 20px;
          font-weight: 600;

          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          color: var(--primary-color);
          background: #fff;
          line-height: 20px;
          padding: 0 5px;
          border-radius: 2px;
        }
      }
    }
    .name {
      font-size: 16px;
      font-weight: 600;
      color: var(--primary-color);
      text-transform: uppercase;
    }
    .br-line {
      display: block;
      height: 2px;
      background: #a9a9a9;
      width: 20%;
      margin: 8px auto;
    }
    .date-start {
      h4 {
        font-size: 13px;
        color: #212529;
        text-transform: uppercase;
        margin: 0;
      }
      span {
        font-size: 13px;
        color: var(--primary-color);
        font-weight: 500;
      }
    }
  }
  .features {
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      background: #f7f7f7;
      padding: 16px;
      li {
        list-style: none;

        .title {
          font-size: 15px;
          font-weight: 600;
          color: var(--primary-color);
          margin-bottom: 8px;
        }
        .content {
          display: flex;
          flex-direction: column;
        }
        .group {
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 15px;
          color: #3f3424;
          padding: 8px 0;
          border-top: 1px solid #ccc;

          background-image: linear-gradient(
            to right,
            rgba($color: #ccc, $alpha: 0.3),
            #cccc
          );
          background-repeat: no-repeat;
          background-size: 0% auto;
          transition: background-size 0.5s;
          &:hover {
            background-size: 100% auto;
          }
        }
      }
    }
  }
}
