.body_content {
     width: 100%;
     height: auto;
     .test {
          height: 178.8px;
          width: 100%;
          background-color: #4e323269;
     }
     .content {
          width: 100%;
          height: auto;
          display: inline-flex;
     }
}
