.abu {
  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
    padding-bottom: 60px;
    border-bottom: 0.5px solid #ababab;
  }
  &__title {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    h3 {
      color: var(--primary-color);
      font-size: 24px;
      font-weight: 600;
      line-height: 31.2px;
      margin-bottom: 23px;
    }
    h2 {
      font-family: var(--secondary-font);
      font-size: 40px;
      font-weight: 400;
      line-height: 52px;
      text-transform: uppercase;
      margin-bottom: 63px;
      max-width: 76%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__desc {
    flex: 0.5;
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 20px;
    }
    a {
      display: block;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      line-height: 20.8px;
      color: #000;
      margin-bottom: 120px;
    }
    &-content {
      h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 31.2px;
        letter-spacing: 0.5px;
        margin-bottom: 35px;
      }
      ul {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          list-style: none;
          display: flex;
          flex-direction: column;
          span {
            font-family: var(--secondary-font);
            font-size: 99px;
            font-weight: 400;
            line-height: 131.97px;
            letter-spacing: -1px;
            color: var(--primary-color);
            margin-bottom: 20px;
            position: relative;
            &::after {
              position: absolute;
              content: "+";
              top: -30px;
              font-size: 70px;
              color: var(--primary-color);
            }
          }
          b {
            font-size: 18px;
            font-weight: 500;
            line-height: 23.4px;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
  &__bot {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      margin: 60px 0 180px;
      gap: 40px;
      li {
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
        div {
          margin: 0 auto;
          width: 104px;
          height: 104px;
          background: rgba(216, 72, 21, 0.2);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }
        img {
          object-fit: cover;
        }
        p {
          font-size: 24px;
          font-weight: 400;
          line-height: 28.18px;
          letter-spacing: 0.25px;
          color: #000;
          margin: 0;
        }
      }
    }
  }
}
