.carousel {
  &__item {
    position: relative;
    padding: 10px 15px;
    border-radius: 5px;
    img {
      object-fit: cover;
      width: 100%;
      height: 240px;
    }
  }
  &__content {
    position: relative;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 220px;
    background: #fff;
  }
  &__price {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--secondary-color);
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    top: -10px;
    left: 15px;
    border-radius: 5px;
  }
  &__name {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 8px;

    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  &__status {
    position: absolute;
    top: 20px;
    left: 25px;
    padding: 5px;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
  }
  &__address {
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    i,
    span {
      font-size: 16px;
      font-weight: 400;
      text-transform: capitalize;
    }
    i {
      margin-right: 10px;
    }
  }
  &__scale {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
  }
  &__juridical {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .slick-list {
    margin: 0 -15px !important;
  }
  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: rgba(189, 189, 189, 0.8);
    border-radius: 50%;
    color: #fff;
    z-index: 999;
    &::before {
      color: #000;
      font-size: 25px;
    }
  }
  &__content2 {
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    height: 210px;
    background: #fff;
  }
  &__name2 {
    font-size: 15px;
    color: #3f3424;
    font-weight: 600;
    line-height: 1.5;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 8px;
  }

  &__price2 {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
    div {
      display: flex;
      align-items: center;
    }
  }
  &__address2 {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
  }
  &__time2 {
    display: flex;
    gap: 8px;
  }
  &__info {
    width: 60%;
    margin: 0 auto;
    background: #eeeeee;
    padding: 30px 60px;
    border-radius: 10px;
    h2 {
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 600;
      text-align: left;
      color: var(--primary-color);
    }
    p {
      font-size: 15px;
    }
  }
}
