.nb {
  background-color: #f8f8f8;
  &__container {
    padding: 80px 0 90px;
  }
  &__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    position: relative;
  }
  &__heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  &__title {
    width: 30%;

    h2 {
      font-family: var(--secondary-font);
      font-size: 40px;
      font-weight: 400;
      line-height: 53.32px;
      letter-spacing: 0.25px;
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 23.4px;
        letter-spacing: 0.15px;
      }
    }
  }
  &__right {
    max-width: 70%;
    width: 100%;
  }
  .slick-prev:before,
  .slick-next::before {
    color: #bababa;
    font-size: 45px;
  }
}
