.seb {
  background: #fff;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
  form {
    .form__container {
      display: flex;
      align-items: center;
    }
    .search__nav {
      display: flex;
      align-items: center;
      background: #f4f2f0;
      padding: 4px 8px;
      a {
        display: block;
        text-decoration: none;
        color: #b7b7b7;
        padding: 4px 8px;
        font-size: 16px;
        font-weight: 600;
        width: 90px;
        text-align: center;
        border-radius: 5px;
      }
    }
    .search__input {
      max-width: 400px;
      width: 100%;
      padding: 0 16px;
      &-container {
        border: 1px solid #dfdad4;
        border-radius: 5px;
        padding: 6px 12px;
        display: flex;
        align-items: center;
        gap: 8px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
        i {
          font-size: 18px;
        }
        input {
          border: none;
          outline: none;
          width: 100%;
        }
        .cancel {
          width: 30px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
    .search__control {
      max-width: 180px;
      width: 100%;
      .dropdown__input {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 6px 12px;
        max-width: 130px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;

        label {
          font-size: 13px;
          font-weight: 600;
        }
        select {
          border: none;
          outline: none;
        }
      }
    }
  }
  .search__group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    background: #fff;
    padding: 5px 10px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;

    label {
      padding: 5px;
      font-size: 14px;
      font-weight: 600;
    }
    select {
      font-size: 15px;
      border: none;
      outline: none;
      background: #fff;
    }
  }
  .butotn__search {
    margin-left: auto;
    display: inline-block;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #cfa267;
    border: 1px solid #cfa267;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
    white-space: nowrap;
    &:hover {
      background: rgba($color: #cfa267, $alpha: 0.7);
    }
  }
}

.search__nav {
  a.active {
    background: #fff;
    color: var(--primary-color) !important;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
  }
}
