.details {
  &__container {
    h2 {
      font-size: 24px;
      font-weight: 600;
      line-height: 31.2px;
      text-transform: uppercase;
      margin-top: 30px;
    }
  }
  &__links {
    margin-top: 30px;
    ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        border-right: 2px solid #89939e;
        padding-right: 20px;
        padding-left: 20px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border: none;
        }
        a {
          display: block;
          text-decoration: none;
          color: #89939e;
          font-size: 14px;
          font-weight: 500;
          line-height: 18.2px;
        }
      }
    }
  }
  &__content {
    display: flex;
    gap: 20px;
    &-left {
      flex: 0.7;
    }
    &-right {
      flex: 0.3;
    }
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    p {
      padding: 0;
      margin: 0;

      font-size: 16px;
      font-weight: 500;
      line-height: 20.8px;
      span {
        font-weight: 600;
      }
    }
    .left {
      display: flex;
      align-items: center;
      gap: 20px;
      span {
        font-size: 16px;
        font-weight: 500;
        line-height: 20.8px;
      }
      .Dropdown-control {
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        line-height: 18.3px;
        color: #bababa;
        cursor: pointer;
        width: 160px;
      }
      .Dropdown-menu::-webkit-scrollbar {
        width: 0;
      }
      .Dropdown-option {
        font-size: 14px;
      }
    }
  }
}

// Item

.item {
  display: flex;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &__img {
    width: 270px;
    height: 215px;
    object-fit: cover;
  }
  &__content {
    padding: 20px;
    h3 {
      font-size: 16px;
      font-weight: 500;
      line-height: 21.33px;
      font-family: var(--secondary-font);
    }
    ul {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      li {
        display: flex;
        align-items: center;
      }
    }
  }
}
