.are {
  padding: 100px 0;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.2s linear;
    // &:hover {
    //   transform: scale(1.05);
    // }
  }
  &__main {
    margin-top: 60px;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      //   gap: 20px;
    }
    li {
      list-style: none;
      margin: 0;

      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 5px;
      overflow: hidden;
    }
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    h2 {
      font-size: 24px;
      font-weight: 600;
      color: #fff;
      line-height: 28.18px;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 23.4px;
      letter-spacing: 0.15px;
      color: #fff;
      margin: 0;
    }
  }
  &__group {
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    color: #fff;
    overflow: hidden;
    &:hover .are__img {
      transform: scale(1.1);
    }
  }
}
