.ah {
  background: var(--primary-color);
  &__container {
    display: flex;
    align-items: center;
    height: 80px;
    line-height: 80px;
  }
  &__buttons {
    gap: 25px;
    height: 80px;
    padding-right: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      display: flex;
      align-items: center;
      border: 1px solid #aaa;
      border-radius: 10px;
      overflow: hidden;
    }
    &-btn {
      display: block;
      text-decoration: none;
      width: 132px;
      height: 52px;
      line-height: 52px;
      text-align: center;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
      transition: all 0.3s linear;

      &:hover {
        color: #fff;
      }
    }
  }
  &__search {
    display: flex;
    align-items: center;
    background-color: #fff;
    gap: 20px;
    width: 550px;
    height: 52px;
    border-radius: 8px;
    margin-left: 20px;
    .Dropdown-control {
      border: none;
      width: 174px;
      color: #bababa;
      font-size: 16px;
      font-weight: 500;
      line-height: 20.8px;
    }
    .Dropdown-menu::-webkit-scrollbar {
      width: 0;
    }
    .Dropdown-arrow {
      border-width: 8px 8px 0;
    }
    .Dropdown-option {
      height: 10px;
      display: flex;
      align-items: center;
      padding: 15px 10px;
    }
    .is-open .Dropdown-arrow {
      border-color: transparent transparent #999;
      border-width: 0 8px 8px;
    }
    input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 14px;
      font-weight: 500;
      color: #bababa;
      line-height: 18.2px;
      border-radius: 8px;
    }
  }
  &__extend {
    display: block;
    margin-left: auto;
    color: #fff;
    text-decoration: none;
    width: 180px;
    height: 100%;
    border-width: 0px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s linear;
    &:hover {
      color: #000;
    }
    &:hover i {
      color: #fff;
    }
    i {
      border: 1px solid #fff;
      border-radius: 50%;
      margin-right: 10px;
      padding: 1px 2px;
    }
  }
}

.ah__buttons-btn.active {
  background: #000;
  transition: all 0.3s linear;
}
