.table-color{
    background-color: #B53C12;
    color: #F3F4F8;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
.table-color2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.0125em;
    color: #1B1A17;
}
.table-color3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.0015em;
    color: #000000;
}
.table-color4{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */

    letter-spacing: 0.0015em;

    color: #000000;

}
.con-hang{
    // background-color: #000000;
    color: #007680;
}
